{% extends 'base.html' %}
{% block main %}
<div class="property-details">
    <img src="{{ property.get_image_url() }}" alt="{{ property.title }}" class="property-image2">    
    <div class="property-details-content">
        <h1>{{ property.title }}</h1>
        <p class="property-price">{{ property.price }}</p>
        <p class="property-type">{{ property.property_type }}</p>
        <p class="property-description">{{ property.description }}</p>
        <p class="room-bathroom"><i class="bi bi-door-open"></i>{{ property.numrooms }} Bedrooms</p>
        <p class="room-bathroom"><i class="bi bi-water"></i>{{ property.numbathrooms }} Bathrooms</p>
        <p><i class="bi bi-geo-alt"></i> {{ property.location }}</p>
        <div class="btn">Email Realtor</div>
    </div>
</div>
{% endblock %}
