{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Add New Property</h1>

<form action="{{ url_for('create') }}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    
    <div class="form-group">
        <div class="form-section">
            {{ form.title.label(class="form-label", for="photo") }}
            {{ form.title(class="form-control") }}
        </div>
        
        <div class="form-section">
            {{ form.description.label(class="form-label", for="photo") }}
            {{ form.description(class="form-control desc") }}
        </div>

        <div class="form-special">
            <div class="form-section">
                {{ form.numrooms.label(class="form-label", for="photo") }}
                {{ form.numrooms(class="form-control room") }}
            </div>

            <div class="form-section">
                {{ form.numbathrooms.label(class="form-label", for="photo") }}
                {{ form.numbathrooms(class="form-control room") }}
            </div>
            
            <div class="form-section">
                {{ form.price.label(class="form-label", for="photo") }}
                {{ form.price(class="form-control room") }}
            </div>

            <div class="form-section">
                {{ form.propertytype.label(class="form-label", for="photo") }}
                {{ form.propertytype(class="form-control room") }}
            </div>
        </div>

        <div class="form-section">
            {{ form.location.label(class="form-label", for="photo") }}
            {{ form.location(class="form-control room") }}
        </div>

        <div class="form-section">
            {{ form.photo.label(class="form-label", for="photo") }}
            <br>
            <label for="file-upload" class="custom-file-upload">
                Browse
            </label>
            <br>
            {{ form.photo(class="form-control", id="file-upload", style="display: none") }}            
        </div>

        <button type="submit" name="submit" class="btn btn-primary">Add Property</button>
    </div>
</form>

{% endblock %}