{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>
<ul class="property-list">
    {% for property in properties %}
    <li class="property-item">
        <img src="{{ property.get_image_url() }}" alt="{{ property.title }}" class="property-image">    
        <h2>{{ property.title }}</h2>
        <p><i class="bi bi-geo-alt"></i> {{ property.location }}</p>
        <p><span class="property-price">{{ property.price }}</span></p>
        <div class="btn">View Property</div>
    </li>
    {% endfor %}
</ul>
{% endblock %}