{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>
<ul class="property-list">
    {% for property in properties %}
    <li class="property-item">
        <h2>{{ property.title }}</h2>
        <p><strong>Location:</strong> {{ property.location }}</p>
        <p><strong>Number of Rooms:</strong> {{ property.numrooms }}</p>
        <p><strong>Number of Bathrooms:</strong> {{ property.numbathrooms }}</p>
        <p><strong>Type:</strong> {{ property.property_type }}</p>
        <p><strong>Price:</strong> {{ property.price }}</p>
        <p><strong>Description:</strong> {{ property.description }}</p>
        <img src="{{ property.get_image_url() }}" alt="{{ property.title }}" class="property-image">    
    </li>
    {% endfor %}
</ul>
{% endblock %}